<a href="https://colab.research.google.com/github/amit17133129/Body_Counter/blob/master/scores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [109]:
import pandas as pd
import numpy as np

In [110]:
data = pd.read_excel("/content/marks.xlsx")
data

   duration   scores
0          1      10
1          2      20
2          3      30
3          4      40
4          5      50
5          6      60

In [111]:
data = np.array(data)
X  = data[:, 0]

y  = data[:, 1]
print("X Value : ", X)
print("y value : ", y)

X Value :  [1 2 3 4 5 6]
y value :  [10 20 30 40 50 60]

In [112]:
X = X.reshape(-1,1)
y = y.reshape(-1, 1)

In [113]:
X,y

(array([[1],
        [2],
        [3],
        [4],
        [5],
        [6]]), array([[10],
        [20],
        [30],
        [40],
        [50],
        [60]]))

In [114]:
from  sklearn.linear_model import LinearRegression
model = LinearRegression()

In [115]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [116]:
print("W :", model.coef_[0][0])

W : 10.0

In [117]:
print("b :", model.intercept_[0])

b : 0.0

In [118]:
a = int(input("enter your duration  in hours: "))
print("your marks :",model.predict([[a]])[0][0])

enter your duration  in hours: 4
your marks : 40.0

In [121]:
y_pred = model.predict([[a]])[0][0]

In [125]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(X, y)

31.5